
/* General */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  top: 0px;
  z-index: 5;
  display: flex;
}

header .logo {
  height: 50px;
  margin: auto 10px;
}

header nav {
  display: flex;
  text-align: right;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: flex-end;
}
header a {
  text-decoration: none;
  color: seashell;
  text-decoration: underline;
  margin: auto 15px;
}

/* Content */

.content {
  position: relative;
  top: 40px;
}

/* Mission */

.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mission .statement {
  background-color: black;
  width: 1200px;
}

.mission h2 {
  margin: 15px auto;
}

.mission h4 {
  margin: 15px auto;
}

/* Featured Tea */

.tea {
  width: 1000px;
  margin: 0px auto;
  padding: 50px 0;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recommend {
  margin: 0 15px;
}

.recommend img {
  width: 300px;
  height: 200px;
}

.recommend h4 {
  margin-top: 10px;
}

/* Location */

.location {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location h2 {
  margin-bottom: 15px;
}

.stores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  background-color: black;
  width: 300px;
  opacity: 0.9;
  margin: 0 20px;

}
.contact {
  height: 200px;
}

/* Footer */

footer {
  text-align: left;
  margin-left: 20px;

}
